<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employee.company.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Show Company', @employee.company %> |
<%= link_to 'All Employees', employees_path %>

